<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="preload" href="fonts/dela-gothic-one-v4-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/dela-gothic-one-v4-latin-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="{{ 'css/base.min.css' | url }}" />
    <meta name="description" content="Personal website and portfolio for Kimber Gee - front-end developer" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="theme-color" content="#ffffff" />
    <title>{{ title }}</title>
  </head>
  <body class="theme-1">
    {% include "./components/header.njk" %}
    {% include "./components/hero.njk" %}
    {% include "./components/experience.njk" %}
    {% include "./components/about.njk" %}
    {% include "./components/footer.njk" %}
    <script defer src="js/main.min.js"></script>
    <script defer src="js/skrollr.min.js"></script>
  </body>
</html>