<section class="about">
  <div class="container">
    <h2 data-bottom-center="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" data-top-bottom="opacity: 1" class="skrollable skrollable-before">{{site.about.heading}}</h2>
    <div data-bottom-top="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" data-top-bottom="opacity: 1" class="text-content skrollable skrollable-before">
      <p>I am currently working full time, but am interested in new work and would love to hear from you.</p>
      <div class="contact-links">
        <a href="mailto:kimber.gee@gmail.com" target="_blank" rel="noopener">email</a>
        <a href="downloads/kgResume-2021.pdf" target="_blank" rel="noopener">resume</a>
        <a href="https://github.com/kimbergee" target="_blank" rel="noopener">github</a>
        <a href="https://www.linkedin.com/in/kimbergee/" target="_blank" rel="noopener">linkedin</a>
      </div>
      <p>{{site.about.other}}</p>
    </div>
    {{ content | safe }}
    <div class="dogs">
      <div class="arnie">
        <div class="head">
          <div class="ear ear-left"></div>
          <div class="ear ear-right"></div>
          <div class="eye eye-left"></div>
          <div class="eye eye-right"></div>
          <div class="eyebrow eyebrow-left"></div>
          <div class="eyebrow eyebrow-right"></div>
          <div class="nose"></div>
          <div class="tongue"></div>
          <div class="patches">
            <div class="patch-left"></div>
            <div class="patch-right"></div>
          </div>
        </div>
        <div class="body">
          <div class="leg leg-left"></div>
          <div class="leg leg-right"></div>
        </div>
        <div class="tail"></div>
      </div>
      <div class="luna">
        <div class="head">
          <div class="ear ear-left"></div>
          <div class="ear ear-right"></div>
          <div class="eye eye-left"></div>
          <div class="eye eye-right"></div>
          <div class="eyebrow eyebrow-left"></div>
          <div class="eyebrow eyebrow-right"></div>
          <div class="nose"></div>
        </div>
        <div class="body">
          <div class="leg leg-left"></div>
          <div class="leg leg-right"></div>
        </div>
        <div class="tail"></div>
      </div>
    </div>
  </div>
</section>