<section class="about">
  <div class="container">
    <h2>{{site.about.heading}}</h2>
    <div class="text-content">
      <p>I am currently working full time, but am open to new work. Here's my <a href="downloads/kgResume-2021.pdf" download>resume</a> and <a href="mailto:kimber.gee@gmail.com">email</a>.</p>
      <p>{{site.about.other}}</p>
    </div>
    {{ content | safe }}
    <div class="dogs">
      <div class="arnie">
        <div class="head">
          <div class="ear ear-left"></div>
          <div class="ear ear-right"></div>
          <div class="eye eye-left"></div>
          <div class="eye eye-right"></div>
          <div class="eyebrow eyebrow-left"></div>
          <div class="eyebrow eyebrow-right"></div>
          <div class="nose"></div>
          <div class="tongue"></div>
          <div class="patches">
            <div class="patch-left"></div>
            <div class="patch-right"></div>
          </div>
        </div>
        <div class="body">
          <div class="leg leg-left"></div>
          <div class="leg leg-right"></div>
        </div>
        <div class="tail"></div>
      </div>
      <div class="luna">
        <div class="head">
          <div class="ear ear-left"></div>
          <div class="ear ear-right"></div>
          <div class="eye eye-left"></div>
          <div class="eye eye-right"></div>
          <div class="eyebrow eyebrow-left"></div>
          <div class="eyebrow eyebrow-right"></div>
          <div class="nose"></div>
        </div>
        <div class="body">
          <div class="leg leg-left"></div>
          <div class="leg leg-right"></div>
        </div>
        <div class="tail"></div>
      </div>
    </div>
  </div>
</section>