<section class="experience">
  <div class="container">
    <h2 data-bottom-center="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" data-top-bottom="opacity: 0.1" class="skrollable skrollable-between">{{site.experience.heading}}</h2>
    {{ content | safe }}
    <div class="skills">
      <ul class="skills-list">
        {% for item in site.experience.skillList %}
          <li data-bottom-top="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" data-top-bottom="opacity: 0.1" class="skill-item skrollable skrollable-between">
            {{item.name}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>