<header>
  <nav class="nav">
    <div class="toggle dog-rollover">
      <input id="doggo" type="checkbox" name="doggo" aria-label="doggo">
      <label for="doggo" class="toggle-item">
        <div class="dog">
          <div class="ear"></div>
          <div class="ear right"></div>
          <div class="face">
            <div class="eyes"></div>
            <div class="mouth"></div>
          </div>
        </div>
      </label>
    </div>
  </nav>
</header>