<section class="hero">
  <div class="container">
    <div data-top-bottom="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" class="text-content skrollable skrollable-after">
      <h1>{{ site.hero.heading }}<span class="outline">{{site.hero.name}}</span></h1>
      <h3>I'm a <span class="outline">front-end developer</span> with a <span class="outline">UI</span> focus, currently living in the Boston area.</h3>
      {{ content | safe }}
    </div>
    <div data-top-bottom="opacity: 0.1" data-center="opacity: 1" data-top="opacity: 1" class="avatar skrollable skrollable-after">
      <img src="{{site.avatar}}" alt="avatar illustration" />
    </div>
  </div>
</section>