<section class="hero">
  <div class="container">
    {# <img src="{{site.logo}}" class="logo" /> #}
    <div class="text-content">
      <h1>{{ site.hero.heading }}</h1>
      <h4>{{site.hero.subheading}}</h4>
      {{ content | safe }}
    </div>
    <div class="avatar">
      <img src="{{site.avatar}}" />
    </div>
  </div>
</section>